{% extends "base.html" %}

{% block content %}
  <h1>Car Service Station</h1>
  <p>Welcome to Best Car Service!</p>

  <p>The Car Service has the following record counts:</p>
  <ul>
    <li><strong>Workers:</strong> {{ num_workers }}</li>
    <li><strong>Vehicles:</strong> {{ num_vehicles }}</li>
    <li><strong>Tasks:</strong> {{ num_tasks }}</li>
    <li><strong>TaskTypes:</strong> {{ num_tasktypes }}</li>
    <li><strong>Professions:</strong> {{ num_professions }}</li>
  </ul>


{% endblock %}
