{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Workers List
    <a href="{% url "service:worker-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
    {% include "includes/search.html" %}
  </h1>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Profession</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for worker in worker_list %}
        <tr>
          <td>
              {{ worker.id }}
          </td>
          <td>
            <a href="{% url "service:worker-detail" pk=worker.id %}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a>
          </td>
          <td>
              {{ worker.profession }}
          </td>
          <td>
              {{ worker.first_name }}
          </td>
          <td>
              {{ worker.last_name }}
          </td>
          <td>
              <a href="{% url "service:worker-update" pk=worker.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'service:worker-delete' pk=worker.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no worker in the service.</p>
  {% endif %}
{% endblock %}
